/* Reset default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('SecondApp/app/static/photoAPP.jpeg');
background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* Additional styling for body if needed */
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    /* Adjust text and other content placement */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100vh; /* Makes sure body takes up full viewport height */

}
p {
  font-weight: bold;
  colour: blue; /* incorrect spelling of the color property */
  font-size: 200%;
}

/* Header styles */
.header {
    text-align: center; /* Centers header text */
    margin-bottom: 20px; /* Adds space between header and navigation */
}

/* Navigation styles */
.navbar {
    margin-bottom: 20px; /* Adds space between navigation and main content */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 1rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #777;
}

/* Main content styles */
.main-content {
    padding: 1rem;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.marquee-container {
    margin-right: 20px;
}

.form-container {
    max-width: 400px;
}

/* Footer styles */
.footer {
    text-align: center; /* Centers footer text */
    position: absolute; /* Positions footer at bottom of viewport */
    bottom: 0;
    width: 100%;
}
